$gray-400: #a0a1a3;
$gray-500: #6b7280;
$base_red: #877667;
$base_orange: #bd5c47;
$base_cream: #f2e0ca;
$base_green: #3f582e;
$base_gray: #998675;
$base_gray: #998675;
$base_gray--25: rgba(153, 134, 117, 0.25);
$base_of: #f6f5f1;
$base_yellow: #f0e4d5;
$base_brown: #593315;
